# Backend app settings
APP_NAME=Books CRUD API
APP_ENV=development
API_PREFIX=/api
DEBUG=true
FRONTEND_ORIGIN=http://localhost:5173

# Postgres settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=books_db
DB_USER=postgres
DB_PASSWORD=postgres

# Redis settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CACHE_TTL_SECONDS=60

# Frontend settings
VITE_API_BASE_URL=http://localhost:8000/api

BACKEND_IMAGE=<yourdockerhubusername>/books-backend:latest
FRONTEND_IMAGE=<yourdockerhubusername>/books-frontend:latest